<div class="row">
  <div class="col-lg-3">
    <%= calendar_data %>
    <br />
  </div>
  <div class="col-lg-9">
    <h4>
      <%= l @current_date, format: :minimal %>
    </h4>

    <hr />

    <% if @schedules.empty? %>
      <%= render 'empty_index' %>
    <% else %>
      <%= render @schedules, as: :schedule %>
    <% end %>
  </div>
</div>
