<ul class="list-group">
  <li class="list-group-item">
    <strong><%= t 'reports.summary.total' %></strong>:
    <%= @summary.count %>
  </li>
  <li class="list-group-item">
    <strong><%= t 'reports.summary.amount' %></strong>:
    <%= number_to_currency @summary.amount %>
  </li>
</ul>
