<fieldset class="row rate">
  <div class="col-xs-10">
    <%= f.input :name, label: false %>
  </div>
  <div class="col-xs-2">
    <div class="row-controls">
      <%= link_to_remove_nested_item f %>
    </div>
  </div>
</fieldset>
