<ul class="nav nav-tabs" data-lazy-tabs="true">
  <%= show_tab_label_for 'private' %>
  <%= show_tab_label_for 'public' %>
</ul>

<br />
<div class="tab-content">
  <%= show_tab_content_for 'private' %>
  <%= show_tab_content_for 'public' %>
</div>
