<div class="progress" data-progress="<%= loan.to_param %>">
  <div class="progress-bar <%= progress_class %>" style="width: <%= progress %>%;">
    <%= number_to_percentage progress, precision: 0 %>
  </div>
</div>
