<ul class="list-group">
  <li class="list-group-item">
    <strong><%= Loan.model_name.human count: 0 %></strong>:
    <%= @summary.count %>
  </li>
  <li class="list-group-item">
    <strong><%= Loan.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @summary.amount %>
  </li>
</ul>
