<div data-loan-updateable-info="true">
  <p>
    <strong><%= Loan.human_attribute_name 'debt' %></strong>:
    <%= number_to_currency @loan.total_debt %>
  </p>
  <p>
    <strong><%= Loan.human_attribute_name 'progress' %></strong>:
    <%= loan_progress_info(@loan) %>
  </p>
</div>
