<button class="btn btn-xs btn-link" data-toggle="popover" data-html="true"
  data-original-title="<%= Tax.model_name.human(count: payment.taxes.size) %>"
  data-placement="top" data-content="<%= render partial: 'taxes/tax', locals: { payment: payment } %>">
  <%= number_to_currency payments_taxes_total(payment) %>
</button>
