<ul class="nav nav-tabs" data-lazy-tabs="true">
  <li>
    <%= link_to(
      PrivateCustomer.model_name.human(count: 1), '#private_customer',
      data: { toggle: 'tab', remote_url: new_private_customer_path }
    ) %>
  </li>
  <li class="active">
    <%= link_to(
      PublicCustomer.model_name.human(count: 1), '#public_customer',
      data: { toggle: 'tab', loaded: true }
    ) %>
  </li>
</ul>

<br />
<div class="tab-content">
  <div class="tab-pane" id="private_customer">
    <div class="alert alert-warning">
      <strong><%= t 'navigation.loading' %></strong>
    </div>
  </div>
  <div class="tab-pane active" id="public_customer">
    <%= render 'form' %>
  </div>
</div>
