<p>
  <strong><%= PublicCustomer.human_attribute_name 'department' %></strong>:
  <%= customer.department %>
</p>
<p>
  <strong><%= PublicCustomer.human_attribute_name 'division' %></strong>:
  <%= customer.division %>
</p>
