body {
  padding-top: 70px;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #337AB7;
}

label {
  font-size: 13px;
}

.panel-loan-info {
  margin: 10px 0;
}

.payments-data {
  table-layout: fixed;
}

.progress {
  margin: 0;
}

.has_event a {
  color: #666 !important;
  background: #fcf8e3 !important;

  &:hover {
    background: #f5f5f5 !important;
  }
}

.strike {
  text-decoration: line-through;
}

.img-responsive { margin: 0 auto; }
