<ul class="nav nav-pills nav-stacked">
  <%= menu_filter_for 'payments' %>
  <% TaxSetting.all.each do |tax_setting| %>
    <li <%== 'class="active"' if @tax_setting == tax_setting %>>
      <%= link_to tax_setting, tax_setting_reports_path(tax_setting) %>
    </li>
  <% end %>
</ul>
